---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: 100vw;
				max-width: 100%;
				margin: 0;
				padding: 0;
			}

			.blog-hero {
				width: 100vw;
				position: relative;
			}


			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				max-height: 640px;
				border-radius: 0;
			}
			.prose {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				position: absolute;
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--accent));
			}

			.prose h1 {
				color: white;
			}

			.entry-content h2 {
				color: rgb(var(--accent));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			.entry-content {
				padding: 1em;
				margin: 0 auto;
				max-width: 960px;
			}

			.entry-content p img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				max-height: 640px;
				margin: 0 auto;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="blog-hero">
					<div class="hero-image">
						{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
					</div>
					<div class="prose">
						<div class="title">
							<div class="date">
								<FormattedDate date={pubDate} />
								{
									updatedDate && (
										<div class="last-updated-on">
											Last updated on <FormattedDate date={updatedDate} />
										</div>
									)
								}
							</div>
							<h1>{title}</h1>
							<hr />
						</div>
					</div>
				</div>
				<section class="entry-content">
					<slot />
				</section>
			</article>
		</main>
		<Footer />
	</body>
</html>
